(cors) {
	@cors_preflight method OPTIONS
	@cors header Origin {args.0}

	handle @cors_preflight {
		header Access-Control-Allow-Origin "{args.0}"
		header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
		header Access-Control-Allow-Headers "Content-Type"
		header Access-Control-Max-Age "3600"
		respond "" 204
	}

	handle @cors {
		header Access-Control-Allow-Origin "{args.0}"
		header Access-Control-Expose-Headers "Link"
	}
}

(cache) {
	header {
		Cache-Control "public, max-age=604800, must-revalidate"
		defer
	}
}

:5000 {
	reverse_proxy * unix//tiles/terracotta.sock
	import cors {header.origin}
	import cache
}

:5010 {
	reverse_proxy * unix//tiles/terracotta-preview.sock
}

{$CADDY_TLS_CONFIG}
