name: ci

on:
  push:
    branches:
    - main
  pull_request:
    types:
    - opened
    - synchronize

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6

    - name: yaml-lint
      uses: ibiqlik/action-yamllint@v3

    - name: shellcheck
      uses: ludeeus/action-shellcheck@master
